# SPDX-License-Identifier: GPL-2.0-only
#
# Generic DPLL drivers configuration
#

menu "DPLL support"

config DPLL
	bool

config DPLL_ZL80X32
	tristate "Microchip ZL80X32 DPLL support"
	depends on MFD_ZL80X32_CORE
	select DPLL

endmenu
